body{
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    text-align: center;
    overflow-x: hidden;
    -ms-overflow-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    text-align: center;
}

textarea{
    width: 25%;
    height: 10dvh;
    resize: none;
    font-size: 3dvh;
}

.io-box{
    position: relative;
    margin-top: 10dvh;
}

textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#decryptBox:hover{
    cursor: pointer;
}

h4{
    margin-top: 3.6dvh;
    display: block;
    width: 150%;
    background-color: rgb(30, 30, 30);
    position: relative;
    text-align: center;
    left: -25%;
}

a{
    position: relative;
    cursor: pointer;
    margin: 0 4dvh 0 4dvh;
    border: transparent;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    border-radius: 5%;
    span{
        color: #000;
        text-shadow: 0 0 20px #000;
    }
    transition-duration: 2s;
}


a:hover{
    border: transparent;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 12px #fff;
    border-radius: 5%;
    span{
        color: #fff;
        text-shadow: 0 0 15px #fff;
        transition-duration: 1.5s;
    }
    transition-duration: 1.5s;
}

.social-media a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    position: relative;
}

.social-media a{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

span{
    position: relative;
    vertical-align: middle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

img{
    position: relative;
    top: 0.2dvh;
    width: 25px;
    height: 25px;
}

.social-media img{
    vertical-align: middle;
    margin-right: 5px;
}
